<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Earth with Airplanes</title>
  
  <!-- Tailwind CSS -->
   <link rel="stylesheet" href="../../src/output.css">
   <link rel="stylesheet" href="./contact.css">
   <script src="./maun.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"/>

  
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="../../src/output.css">

  <!-- External Scripts -->
  <script defer src="https://assets.codepen.io/127738/perlin.js"></script>
  <script type="module" defer src="./contactus.js"></script>
</head>
<body class="bg-gradient-to-b from-blue-900 to-blue-950 m-0 overflow-hidden">
 
  <!-- Scene Container -->
  <div class="hero flex flex-col items-center justify-center flex-grow">
    <h3 class="text-2xl font-medium text-white uppercase drop-shadow-lg">welcome to Flowbite, we can make you rich in one click </h3>
    <a href="../Home/home.html" class="text-1xl font-medium text-white uppercase drop-shadow-lg mb-6 hover:bg-white hover:text-gray-900 transition">
      Home page
    </a>
    
      
  </div>
  <a href="https://www.facebook.com/share/QRaPoGFTpjk13ApH/" target="_blank" class="text-white text-2xl">
    <i class="fab fa-facebook-f"></i>
    </a>
      <a href="https://x.com/sameer__baker" target="_blank" class="text-white text-2xl">
      <i class="fab fa-twitter"></i>
      </a>
   
      <a href="https://www.instagram.com/sameerbaker/profilecard/?igsh=MXRnejl4dDVpbDEybw==" target="_blank" class="text-white text-2xl">
        <i class="fab fa-instagram"></i>
        </a>
    
        <a href="https://www.linkedin.com/in/sameer-baker-52685a75/" target="_blank" class="text-white text-2xl">
          <i class="fab fa-linkedin-in"></i>
          </a>

          <a href="https://wa.me/+972592864042" target="_blank" class="text-white text-2xl">
            <i class="fab fa-whatsapp"></i>
            </a>

            <a href="https://www.youtube.com/@sameerbaker8469" target="_blank" class="text-white text-2xl">
              <i class="fab fa-youtube"></i>
          </a>

          <a href="https://github.com/sameerbaker" target="_blank" class="text-white text-2xl">
            <i class="fab fa-github"></i>
        </a>

  <div id="scene-container" class="w-full h-screen">
    
      
  </div>
<!---------------------------------->



<!---------------------------------->

  <footer class="bg-white shadow-md py-4 px-6 text-center">
    <p class="text-gray-600">&copy;© 2025 FlowBite, Inc. All rights reserved.</p>
</footer>
</body>
</html>
